# IntelliJ IDEA
.idea/
# log files
lib/log/access
lib/log/author_stats
lib/log/crashes
lib/log/domain_stats
lib/log/enter
lib/log/intermud
lib/log/mudlist_packet
lib/log/mudlist_packet.old
lib/log/runtime
# my realms folder
lib/realms/sigee/
# my character file
lib/secure/save/postal/s/sigee/
lib/secure/save/users/s/sigee.o