%^BOLD%^BLUE%^Shadon varos terkepe.%^RESET%^
                               %^BLUE%^Kapu%^RESET%^
                                 |
                            o -- o    o    o
                                 |    |    |
                            o -- o -- o -- o -- o
                                 |
          %^BOLD%^P.mester%^RESET%^     o         o -- o       %^BOLD%^%^YELLOW%^Arena%^RESET%^
             |       /           |              |
   %^BOLD%^%^RED%^Torony%^RESET%^ -- o -- o         o    o         o    o -- o
           /              /      |         |    |
        o   %^GREEN%^Bank%^RESET%^       o   %^ORANGE%^Pek%^RESET%^   o-%^CYAN%^Kocsma%^RESET%^  o    o  %^BOLD%^%^GREEN%^Posta%^RESET%^
        |    |         |    |    |         |    |    |
        o -- o -- o -- o -- o -- %^BOLD%^%^RED%^%^FLASH%^X%^RESET%^ -- o -- o -- o -- o -- o
        |           /       |    |    |       \      |
     %^ORANGE%^Csatorna%^RESET%^  %^MAGENTA%^Kereskedo%^RESET%^  %^BOLD%^%^BLACK%^Kovacs%^RESET%^-o %^BOLD%^%^MAGENTA%^Bormuves%^RESET%^     o    o
                                 |              |
             o -- o         o -- o - %^BOLD%^%^CYAN%^Kezdok%^RESET%^     o    o
                  |              |  %^BOLD%^%^CYAN%^Iskolaja%^RESET%^       /
        %^BOLD%^%^BLUE%^Kisto%^RESET%^  o  o    o -- o    o -- o -- o -- o
           \    \ |         |    |
             o -- o -- o -- o -- o         o
                                 |  \      |
                           o --  o %^RED%^Bolcs%^RESET%^   o -- %^BLUE%^Kikoto%^RESET%^
                                 |       / |
                                 o -- o    o